//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-date-range {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  gap: 2rem;
}

 // stylelint-disable scss/at-extend-no-missing-placeholder, declaration-no-important

 @include govuk-media-query($until: tablet) {
   .govuk-table-card {
     thead,
     & .govuk-table-card-hidden-row {
       position: absolute;
       top: auto;
       left: -10000px;
       width: 1px;
       height: 1px;
       overflow: hidden;
     }

     & tbody tr {
       display: flex;
       flex-flow: column;
       margin-bottom: govuk-spacing(6);
       padding-bottom: govuk-spacing(6);
       border-bottom: 5px solid $govuk-border-colour;
     }

     & td {
       display: flex;
       justify-content: space-between;
       padding-right: 0 !important;
       border-bottom: 1px solid $govuk-border-colour;
     }

     & .govuk-table-card-inline-label {
       display: block !important;
       margin-bottom: govuk-spacing(1);
       font-weight: 700;
     }
   }
 }

 .govuk-table-card {
   @extend .govuk-table;

   & thead {
     @extend .govuk-table__head !optional;
   }

   & tr {
    @extend .govuk-table__row !optional;
    position: relative;
   }

   & th {
     @extend .govuk-table__header;

     @include govuk-media-query($until: tablet) {
       margin: 0;
     }
   }

   & td {
     @extend .govuk-table__cell;

     @include govuk-media-query($until: tablet) {
       padding: govuk-spacing(3) 0;
     }
   }

   & .govuk-table__header--numeric,
   & .govuk-table__cell--numeric {
     text-align: right;
   }

   & .govuk-table-card-inline-label {
     display: none;
   }
 }

 .govuk-table-row__icon {
    box-sizing: border-box;
    left: 0;
    font-weight: 700;
    display: inline-block;
    
    
    min-width: 35px;
    min-height: 35px;
    margin-top: -7px;
    vertical-align: middle;
    margin-right: govuk-spacing(2);
    
    @include govuk-media-query($from: tablet) {
      position: absolute;
     transform: translateX(calc(govuk-spacing(8)* -1)) translateY(25%);
     margin-top: -5px;
   }

   // When a user customises their colours the background colour will often be
   // removed. Adding a border to the component keeps it's shape as a circle.
   border: 3px solid $govuk-text-colour;
   border-radius: 50%;

   color: $govuk-body-background-colour;
   background: $govuk-text-colour;

   font-size: 30px;
   line-height: 29px;

   text-align: center;

   // Prevent the exclamation mark from being included when the warning text
   // is copied, for example.
   user-select: none;

   // Improve rendering in Windows High Contrast Mode (Edge), where a
   // readability backplate behind the exclamation mark obscures the circle
   forced-color-adjust: none;

   @media screen and (forced-colors: active) {
     border-color: windowText;
     color: windowText;
     background: transparent;
   }
 }
